<a href="https://colab.research.google.com/github/seonae0223/Deep_Learning/blob/main/03_%ED%96%89%EB%A0%AC_%EB%82%B4%EC%A0%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

# 배열의 정보 확인

In [ ]:
A = np.array([1, 2, 3, 4])

# 배열의 차원 확인
print(A.ndim) # ndim : 차원 확인하기

# 배열의 모양(shape) 확인
print(A.shape)

1
(4,)

In [ ]:
B = np.array([[1, 2],
              [3, 4],
              [5, 6]])

print(B.ndim) # 1차원 배열의 개수
print(B.shape) # 0차원 스칼라 배열의 개수

2
(3, 2)

In [ ]:
A = np.array([[1, 2],
              [3, 4],
              [5, 6]])

B = np.array([[10, 11],
              [12, 13],
              [14, 15]])

In [ ]:
A @ B.T # (3 x 2) @ (3 x 2)^T = (3 x 2) @ (2 x 3) = (3 x 3) A와 B를 내적 (B를 Transform 해줘야 함)

array([[ 32,  38,  44],
       [ 74,  88, 102],
       [116, 138, 160]])

In [ ]:
A.T @ B

array([[116, 125],
       [152, 164]])